@page
@model IssueEmbeddedFileProvider.Pages.IndexModel
@{
}


<html>
    <head>
        <link rel="stylesheet" href="~/lib/working/working.css" />
        <link rel="stylesheet" href="~/lib/nice-css/nice-css.css" />
    </head>
    <body>
        <h1>The working css is making this text red</h1>
        Background color is green, when nice-css.css could be found!
    </body>
</html>